footer {
    color: #33995a;
    text-align: center;
    padding-top: 26px;
    height: 10vh;
    width: 100%;
    background-color: #F4F1F1;
    bottom: 0px;
    justify-content: center;
    margin-top: 40%;
}