/* Styling for the navigation bar */
nav {
    background-color: #303030;
    /* Background color */
    display: flex;
    /* Display as flexbox */
    justify-content: space-between;
    /* Align items with space between */
    align-items: center;
    /* Align items at the center */
    height: 8vh;
    /* Set height */
    padding: 9px;
    /* Add padding */
}

/* Styling for unordered list */
ul {
    color: #ffffff;
    /* Text color */
    list-style: none;
    /* Remove default list styles */
    align-items: center;
    /* Align items at the center */
}

/* Styling for anchor links */
a {
    color: #ffffff;
    /* Text color */
    text-decoration: none;
    /* Remove underline */
}

/* Hover effect for list items */
ul :hover {
    opacity: 0.8;
    /* Reduce opacity on hover */
}

/* Styling for links */
.links {
    color: #ffffff;
    /* Text color */
    display: flex;
    /* Display as flexbox */
    justify-content: space-between;
    /* Align items with space between */
    align-items: center;
    /* Align items at the center */
    gap: 14px;
    /* Add gap between items */
}

/* Styling for LinkedIn image */
.linkedInImg {
    transform: scale(0.4);
    /* Scale down the image */
    object-fit: cover;
    /* Cover the container */
    width: 10vh;
    /* Set width */
    height: auto;
    /* Auto height */
}

/* Hover effect for LinkedIn image */
.linkedInImg img :hover {
    opacity: 0.8;
    /* Reduce opacity on hover */
}

/* Styling for mobile menu */
.mobMenu {
    display: none;
    /* Hide by default */
}

/* Media query for screens with max width of 650px */
@media screen and (max-width: 650px) {

    /* Hide links on smaller screens */
    .links {
        display: none;
    }

    /* Display mobile menu on smaller screens */
    .mobMenu {
        display: flex;
    }

    /* Styling for mobile menu */
    .mobSizeMenu {
        background-color: #6B6A6A;
        /* Background color */
        width: 100vw;
        /* Full width */
        height: 100vh;
        /* Full height */
        position: fixed;
        /* Fixed positioning */
        transition: all 0.5s ease-in;
        /* Smooth transition */
        list-style: none;
        /* Remove default list styles */
        z-index: 100;
        /* Set z-index */
        top: 20vh;
        /* Position from top */
        left: 0%;
        /* Position from left */
    }

    /* Hide menu bar */
    #menuBar {
        display: none;
    }

    /* Styling for menu bar label */
    #menuBar+label {
        transform: scale(0.2);
        /* Scale down the label */
    }

    /* Show menu on checkbox checked */
    #menuBar:checked+label+.mobSizeMenu {
        overflow-y: auto;
        /* Enable vertical scroll */
    }

    /* Hide menu when checkbox is not checked */
    #menuBar:not(:checked)~.mobSizeMenu {
        height: 0;
        /* Set height to 0 */
        font-size: 0;
        /* Set font size to 0 */
    }
}