<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Project Tasks Manager</title>
  <!-- Include CSS files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/chat/chat.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/board/board.css') }}">
  <!-- Additional CSS files can be included in the block extracss -->
  {% block extracss %}{% endblock %}
  <!-- Include JavaScript files -->
  <script src="{{ url_for('static', filename='main/chat/chat.js') }}" defer></script>
  <script src="{{ url_for('static', filename='main/board/board.js') }}" defer></script>
  <!-- Additional JavaScript files can be included in the block extrajs -->
  {% block extrajs %}{% endblock %}
</head>

<body>
  <article>
    <!-- The navigation bar -->
    <nav>
      <div>
        <!-- Display the user's email -->
        <ul>
          <li>Logged in as {{ user }}</li>
        </ul>
      </div>
      <!-- Navigation links -->
      <ul class="links">
          <li><a href="/home">Home</a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>
      <!-- Mobile menu -->
      <div class="mobMenu">
          <input type="checkbox" id="menuBar">
          <label for="menuBar">
              <img src="{{ url_for('static', filename='main/images/menu-bar.png') }}" alt="Mobile menu bar" loading="lazy"/>
          </label>
          <div class="mobSizeMenu">
              <ul>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/logout">Logout</a></li>
              </ul>
          </div>
      </div>
    </nav>

    <!-- The main content section -->
    <main>
      <!-- The main content of the page will be included in this block -->
      {% block maincontent %}{% endblock %}
    </main>
  </article>
</body>
</html>
















