<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zeeshan Naeem's Personal Page</title>
  <!-- Include CSS files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/header.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/footer.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/css/feedback.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='main/chat/chat.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
  <!-- Additional CSS files can be included in the block extracss -->
  {% block extracss %}{% endblock %}
  <!-- Include JavaScript files -->
  <script src="{{ url_for('static', filename='main/js/feedback.js') }}" defer></script>
  <script src="{{ url_for('static', filename='main/chat/chat.js') }}" defer></script>
  <script src="{{ url_for('static', filename='main/login/login.js') }}" defer></script>
  <!-- Additional JavaScript files can be included in the block extrajs -->
  {% block extrajs %}{% endblock %}
</head>

<body>
  <article>
    <!-- The header section -->
    <header>
      <img src="static/main/images/banner.jpg" alt="Banner" loading="lazy">
    </header>

    <!-- The navigation bar -->
    <nav>
      <div>
        <!-- Display the user's email if logged in -->
        {% if 'email' not in session %} 
        <ul>
          <li>Zeeshan Naeem's Personal Site</li>
        </ul>
        {% else %}
        <ul>
          <li>Logged in as {{session.email}}</li>
        </ul>
        {% endif %}
      </div>
      <!-- Navigation links -->
      <ul class="links">
          <li><a href="/home">Home</a></li>
          <li><a href="/chat">Chat</a></li>
          <!-- Check if user is logged in -->
          {% if 'email' in session %}
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          {% endif %}
          <!-- End of login/logout option -->
          <!-- LinkedIn link -->
          <div class="linkedInImg">
              <li>
                  <a href="https://www.linkedin.com/in/zeeshan-naeem/">
                      <img src="static/main/images/social-linkedin.png" alt="LinkedIn Profile" loading="lazy">
                  </a>
              </li>
          </div>
      </ul>
      <!-- Mobile menu -->
      <div class="mobMenu">
          <input type="checkbox" id="menuBar">
          <label for="menuBar">
              <img src="static/main/images/menu-bar.png" alt="Mobile menu bar" loading="lazy">
          </label>
          <div class="mobSizeMenu">
              <ul>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/chat">Chat</a></li>
                  <!-- Check if user is logged in -->
                  {% if 'email' in session %}
                  <li><a href="/logout">Logout</a></li>
                  {% else %}
                  <li><a href="/login">Login</a></li>
                  {% endif %}
                  <!-- End of login/logout option -->
                  <!-- LinkedIn link -->
                  <li><a href="www.linkedin.com/in/zeeshan-naeem">LinkedIn</a></li>
              </ul>
          </div>
      </div>
    </nav>

    <!-- Feedback Form -->
    <div class="feedback-form" id="feedbackForm">
      <form action="/processfeedback" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment"></textarea><br>
        <input type="submit" value="Submit">
      </form>
    </div>

    <!-- Button for Feedback Form -->
    <button id="toggleFeedbackForm">Feedback</button>

    <!-- The main content section -->
    <main>
      <!-- The main content of the page will be included in this block -->
      {% block maincontent %}{% endblock %}
    </main>

    <!-- The footer of the file -->
    <footer>
      <p>© 2024 Zeeshan Naeem</p>
    </footer>

  </article>
</body>
</html>
















