{% extends 'shared/layout.html' %}

{% block maincontent %}
<!-- Main content area -->
<div class="mainAreaContainer">
    <!-- Container for project description -->
    <div class="myProjectDescrip">
        <!-- Project description -->
        <p>Behold piano great and old, it's master slumbers in far off cold, 
            If you wish to see anew, call out to it - we see you.
        </p>
        <hr> <!-- Horizontal line -->
    </div>
</div>

<div class="imageWrapper">
    <!-- Piano background -->
    <div class="bgimg"></div>
    <div class="bkgdc"></div>
    <!-- Introduction text -->
    <p>The Great Old One</p>
    <div class="keys">
        <!-- Keyboard keys -->
        <div class="key" data-key="87">A</div>
        <div class="key" data-key="69">W</div>
        <div class="key" data-key="84">S</div>
        <div class="key" data-key="89">E</div>
        <div class="key" data-key="85">D</div>
        <div class="key" data-key="79">F</div>
        <div class="key" data-key="80">T</div>
        <div class="key" data-key="71">G</div>
        <div class="key" data-key="72">Y</div>
        <div class="key" data-key="74">H</div>
        <div class="key" data-key="75">U</div>
        <div class="key" data-key="76">J</div>
        <div class="key" data-key="186">K</div>
        <div class="key" data-key="222">O</div>
        <div class="key" data-key="219">L</div>
        <div class="key" data-key="221">P</div>
    </div>
</div>
{% endblock %}

