{% extends 'shared/layout.html' %}

{% block maincontent %}
<!-- Main content area -->
<hr> <!-- Horizontal line -->

{% for inst_id, inst in resume_data.items() %}
    <!-- Iterate over institutions -->
    <h1>{{inst['name']}}</h1>
    <p class="right">{{inst['department']}}, {{inst['address']}}, {{inst['city']}}, {{inst['state']}}, {{inst['zip']}}</p>
    {% if inst['positions'] != {} %}
        <!-- Check if there are positions -->
        {% for pos_id, pos in inst['positions'].items() %}
            <!-- Iterate over positions -->
            <h2>{{pos['title']}}</h2>
            <p class="right">{{pos['start_date']}} - {{pos['end_date']}}</p>
            <p>{{pos['responsibilities']}}</p>
            {% for experience_id, exp in pos['experiences'].items() %}
                <!-- Iterate over experiences -->
                <li>{{exp['name']}} - {{exp['description']}}</li>
                <h4>Skills:</h4>
                {% for skill_id, skill in exp['skills'].items() %}
                    <!-- Iterate over skills -->
                    <p>{{skill['name']}}</p>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endif %}
    <hr> <!-- Horizontal line -->
{% endfor %}

{% endblock %}



