/* Main content alignment and padding */
main {
    align-items: center;
    /* Align items at the center */
    padding-left: 8%;
    /* Add left padding */
    padding-right: 8%;
    /* Add right padding */
    padding-top: 4%;
    /* Add top padding */
    justify-content: center;
    /* Align content at the center */
}

/* Styling for the main content container */
.mainAreaContainer {
    display: grid;
    /* Display as grid */
    gap: 18px;
    /* Add gap between grid items */
    grid-template-rows: 80vw 50vh;
    /* Define grid rows */
    grid-template-columns: 1fr 1fr;
    /* Define grid columns */
}

/* Styling for small main content container */
.smallMainAreaContainer {
    display: grid;
    /* Display as grid */
    grid-template-columns: 1fr;
    /* Define grid columns */
    margin-bottom: 4%;
    /* Add bottom margin */
}

/* Styling for links with class "play" */
.play {
    color: #167696;
    /* Text color */
    text-decoration-line: underline;
    /* Add underline */
}

/* Styling for poem text */
.poem {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Font family */
    color: #323030;
    /* Text color */
}

/* Styling for project description */
.myProjectDescrip {
    justify-content: center;
    /* Align content at the center */
    text-align: center;
    /* Align text at the center */
    font-size: 23px;
    /* Font size */
    margin-bottom: 50px;
    /* Add bottom margin */
    grid-row: 1;
    /* Set grid row */
    grid-column: 1 / span 2;
    /* Set grid column span */
}

/* Styling for piano image */
.piano {
    grid-row: 1;
    /* Set grid row */
    grid-column: 1;
    /* Set grid column */
    border: 4px solid #000000;
    /* Add border */
    justify-self: center;
    /* Align self at the center */
    background-size: contain;
    /* Set background size */
    width: 100%;
    /* Set width */
    height: 70%;
    /* Set height */
}

/* Styling for my picture container */
.myPic {
    grid-row: 1;
    /* Set grid row */
    grid-column: 1;
    /* Set grid column */
    height: 70%;
    /* Set height */
    width: 100%;
    /* Set width */
}

/* Styling for my picture */
.myPic img {
    height: 80%;
    /* Set height */
    width: 100%;
    /* Set width */
    border: 2px solid #000000;
    /* Add border */
}

/* Styling for description text */
.description {
    grid-column: 2;
    /* Set grid column */
    overflow-y: auto;
    /* Enable vertical scroll */
    max-height: 170px;
    /* Set maximum height */
}

/* Styling for additional information */
.extraInfo {
    font-size: 21px;
    /* Font size */
    text-align: center;
    /* Align text at the center */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Font family */
    color: #a83333;
    /* Text color */
}

/* Styling for piano name */
.pianoName {
    font-size: 2rem;
    /* Font size */
    color: #50260f;
    /* Text color */
}

/* Styling for section break */
.break {
    grid-column: 1 / span 2;
    /* Set grid column span */
    width: 100%;
    /* Set width */
    margin-top: -35%;
    /* Set top margin */
}

/* Styling for my name */
.myName {
    font-size: 2rem;
    /* Font size */
}

/* Styling for fun fact */
.myFunFact {
    text-align: center;
    /* Align text at the center */
    font-size: 21px;
    /* Font size */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* Font family */
    color: #5a33a8;
    /* Text color */
}

/* Media query for screens with max width of 650px */
@media screen and (max-width: 650px) {

    /* Adjust grid layout for smaller screens */
    .mainAreaContainer {
        grid-template-columns: 1fr;
        /* Define grid columns */
        max-width: 80vw;
        /* Set maximum width */
    }

    /* Center my picture on smaller screens */
    .myPic {
        margin-right: 140px;
        /* Set right margin */
        margin: 0 auto;
        /* Center horizontally */
    }

    /* Adjust description text on smaller screens */
    .description {
        grid-column: 1;
        /* Set grid column */
        padding-right: 0;
        /* Remove right padding */
        margin-right: 28px;
        /* Set right margin */
        overflow-y: visible;
        /* Enable overflow visible */
        margin: 0;
        /* Reset margin */
    }

    /* Adjust section break on smaller screens */
    .break {
        width: 100%;
        /* Set width */
        margin-top: 70%;
        /* Set top margin */
    }
}